@font-face {
  font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  padding: 0;
  min-width: 1160px;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.logo-device-header {
  margin-top: -17px;
  margin-bottom: 36px;
}


.main-header {
  background-color: #f7e296;
  padding: 0 60px;
  margin-top: 40px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus,
.logo:active {
  opacity: 0.3;
}

.search-field {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #000000;
  background: none;
  border: none;
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus::placeholder,
.search-field:active::placeholder {
  opacity: 1;
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus,
.search-field:active {
  opacity: 1;
}

.button-search {
  background: none;
  border: 2px solid #000000;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #000000;
}

.button-search:hover {
  color: #ffffff;
  background: #000000;
}

.button-search:focus,
.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  display: flex;
  padding: 0;
}

.user-menu a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.15px;
  color: #000000;
  text-transform: none;
  list-style: none;

  display: inline-block;
}

.user-menu a:hover {
  opacity: 0.6;
}

.user-menu a:focus,
.user-menu a:active{
  opacity: 0.3;
}

.compare-link {
  margin-right: 41px;
}
.login-link {
  margin-right: 218px;
}

.profile-link {
  margin-right: 20px;
}

.site-navigation {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  list-style: none;

  display: flex;
  padding: 0;
  align-items: baseline;
}

.site-navigation a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  list-style: none;

  display: inline-block;
}

.site-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:focus,
.site-navigation a:active {
  opacity: 0.3;
}

.catalog-link {
  margin-right: 294px;
}

.delivery-link {
  margin-right: 38px;
}

.warranty-link {
  margin-right: 114px;
}

.user-menu,
.site-navigation {
  list-style: none;
}

.products a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  color: #000000;
  text-transform: none;
}
.products {
  list-style: none;
}

.description-about-us {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #464646;
  text-transform: none;
}

.about {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
  text-transform: none;
}

.contacts-map {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
  text-transform: none;
}

.transport {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  text-transform: none;
}

.container-headline {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  color: #000000;
  text-transform: none;
}

.breadcrumbs {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.14px;
  opacity: 0.3;
  text-transform: none;
  list-style: none;

}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.category-catalog:hover {
  opacity: 0.6;
}

.category-catalog:focus,
.category-catalog:active {
  opacity: 0.3;
}

.color,
.bluetooth {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-transform: none;
}

.filter-checkbox,
.filter-option {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
  text-transform: none;
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
  list-style: none;
  text-transform: none;
  text-decoration: none;
}

.catalog-item-price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
  text-transform: none;
}

.add-compare {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0.13px;
  opacity: 0.5;
  color: #000000;
}

.add-compare:hover {
  opacity: 1.0;
}

.add-compare:focus,
.add-compare:active {
  opacity: 0.2;
}

.logo-device:hover {
  object-fit: contain;
  opacity: 0.6;
}

.logo-device:focus,
.logo-device:active {
  opacity: 0.3;
}


.footer-middle a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: none;
}

.map-map {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 300;
  color: #464646;
  text-transform: none;
}

.map a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
}

.main-footer {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  min-width: 1440px;
  min-height: 323px;
  background-color: #464646;

  display: inline-block}

.logo-device-footer {
  display: flex;
  padding: 0;
  justify-content: start;
  align-items: baseline;
  margin-top: 65px;
  margin-left: 139px;

}

.user-menu-footer {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: -35px;

}

.basket-link-footer {
  margin-right: 140px;
}

.compare-link-footer {
  margin-right: 41px;
}

.login-link-footer {
  margin-right: 44px;
}

.user-menu-footer a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.user-menu-footer li {
  list-style: none;
  text-transform: none;
}

.user-menu-footer a:hover {
  opacity: 0.7;
}

.user-menu-footer a:focus,
.user-menu-footer a:active {
  opacity: 0.3;
}

.address-work {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: none;
}

.site-navigation-footer a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.site-navigation-footer {
  list-style: none;
  display: flex;
  padding: 0;
}

.site-navigation-footer a:hover {
  opacity: 0.6;
}

.site-navigation-footer a:focus,
.site-navigation-footer a:active {
  opacity: 0.3;
}

.footer-social a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  text-decoration: none;
}

.footer-social {
  list-style: none;
}

.social-buttons {
  color: #464646;
}

.write-label {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  text-transform: none;
}

.write-field {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  resize: none;
  color: #f2f2f2;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.write-field:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.write-field:focus,
.write-field:active {
  background-color: #ffffff;
  color: #464646;
  border: 3px solid #f0c52e;
  outline: none;
}

.write-field:invalid {
  background-color: #f6dada;
  border: 3px solid #f6dada;
}

.button-yellow {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  background: #f0c52e;
  border: none;
}

.button-yellow:hover {
  background: #f0c52e;
}

.button-yellow:focus,
.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background: #f0c52e;
}
