@font-face {
  font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.search {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.15px;
}
}

.navigation-item,
.site-navigation {
  list-style: none;
}

.navigation-item a:hover,
.navigation-item a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #000000;
}

.navigation-item {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: none;
  list-style: none;
}

.site-navigation {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  list-style: none;
}

section.about-us p{
  width: 462px;
  height: 315px;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #464646;
  text-transform: none;
}

legend {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.filter label {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
  text-transform: none;
}

section.catalog {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.catalog-item-price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.transport {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  text-transform: none;
  list-style: none;
  list-style: none;
}

section.map p {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15;
  line-height: 1.33;
  font-weight: 300;
  color: #464646;
  text-transform: none;
}

.main-footer {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.social-buttons {
  color: #464646;
}

.address {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  width: 201px;
  height: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

form label {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  text-transform: none;
}

.write input {
  opacity: 0.4;
  font-family: 'openSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.write textarea {
  opacity: 0.4;
  font-family: 'openSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}
