@font-face {
  font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.inner-page {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1160px;
  height: 550px;
  background-color: #f7e296;
}

.logo:hover {
  width: 163px;
  height: 35px;
  object-fit: contain;
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

.logo:active {
  opacity: 0.3;
}

.search {
  font-family: 'opensanslight', Arial, sans-serif;
  opacity: 0.3;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

input::placeholder:hover {
  opacity: 0.3;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);;
}

input::placeholder:focus {
  opacity: 0.6;
}

input::placeholder:active {
  opacity: 0.6;
}

.search:hover {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.search:focus {
  font-size: 15px;
  color: #000000;
}

.user-menu,
.site-navigation {
  list-style: none;
}

.user-menu a:hover {
  opacity: 0.6;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.user-menu a:focus {
  opacity: 0.3;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:hover {
  opacity: 0.6;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus {
  opacity: 0.3;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.user-menu a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: none;
  list-style: none;
}

.site-navigation a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  text-align: left;
  list-style: none;
}

.site-navigation a:hover {
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation a:focus {
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation a:active {
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.products li {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  list-style: none;
}

.products a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  list-style: none;
}

.about-us p{
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #464646;
  text-transform: none;
}

.about-us-h {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
  text-transform: none;
}

.about-us a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.contacts-map {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
  text-transform: none;
}

.transport {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  text-transform: none;
}

.container-1 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.color,
.bluetooth {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.filter-checkbox,
.filter-option {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
  text-transform: none;
  list-style: none;
}

.breadcrumbs {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
  list-style: none;
}

.category-catalog {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

form.catalog-item {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  list-style: none;
  text-transform: capitalize;
  text-decoration: none;
}
.catalog-item-price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
  text-transform: capitalize;
}

.logo-down:hover {
  width: 163px;
  height: 35px;
  object-fit: contain;
  opacity: 0.6;
}

.logo-down:focus {
  opacity: 0.3;
}

.logo-down:active {
  opacity: 0.3;
}

.footer-middle a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
}



.map-p {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 300;
  color: #464646;
  text-transform: none;
}

.map a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.main-footer {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  width: 1440px;
  height: 550px;
  background-color: #464646;
}

.user-menu-footer a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

.user-menu-footer li {
  list-style: none;
  text-transform: capitalize;
}

.user-menu-footer a:hover {
  opacity: 0.6;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.user-menu-footer a:focus {
  opacity: 0.3;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
}

.user-menu-footer a:active {
  opacity: 0.3;
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
}

.address-work {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
  text-transform: none;
}

site-navigation-footer li {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;

}

site-navigation-footer a {
  font-family: 'opensanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.footer-middle a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
}

.footer-social a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
}

.social-buttons {
  color: #464646;
}


.write-form {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  text-transform: none;
}

.write input {
  opacity: 0.4;
  font-family: 'openSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.write textarea {
  opacity: 0.4;
  font-family: 'openSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.button {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
